<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylelogin.css' %}">
    <title>Dashboard de administrador</title>
</head>
<body>
    <div class="dashboard-container">
        <header>
            <div class="header-content">
                <h2>Dashboard de administrador</h2>
                <a href="{% url 'logout' %}" class="logout-button">Cerrar Sesion</a>
            </div>
        </header>
        <div class="main-content">
            <div class="menu-column">
                <ul>
                    <li><a href="#">Gestion de usuarios</a></li>
                    <li><a href="{% url 'gestion_productos' %}">Gestión de productos</a></li>
                    <li><a href="{% url 'gestion_pedidos' %}">Gestión de pedidos</a></li>
                </ul>
            </div>
            <div class="content-column">
                <p>Bienvenido al panel de administracion. Aqui podras gestionar los usuarios, productos y pedidos.</p>
                <p>Total de usuarios: {{ total_usuarios }}</p>
                <p>Total de productos: {{ total_productos }}</p>
                <p>Total de pedidos: {{ total_pedidos }}</p>

            </div>
        </div>
    </div>
</body>
</html>