{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href={% static "imagenes/Simbolo-transparente.png" %} />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/carrito.css' %}">
    <title>Glamoure</title>
</head>
<body>
    <header>
            <nav>
    <div class="nav-left">
        <ul class="menu">
            <li><a href="{% url 'hombres' %}">Hombres</a></li>
            <li><a href="{% url 'mujeres' %}">Mujeres</a></li>
            <li><a href="{% url 'zapatos' %}">Zapatos</a></li>
            <li><a href="{% url 'ofertas' %}">Ofertas</a></li>
        </ul>
    </div>
    

    <div class="logo-center">
        <img src={% static "imagenes/Logonew.png" %} alt="Logo">
    </div>

    <div class="nav-right">
        <button type="button" onclick="mostrarCarrito()">
            <img src={% static 'imagenes/Carrito_de_compras-removebg-preview.png' %} alt="carrito">
        </button>
        <ul class="menu">
            {% if user.is_authenticated %}
                <li><span>!Bienvenido {{ user.username }}!</span></li>
                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                <li><a href="{% url 'registro' %}">Registrarse</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

    </header>
    <main>
        <section class="bienvenida">
            <div class="bienvenida-texto">
                <h1>¡Bienvenido a Glamoure!</h1>
                 <p>La tienda de ropa más exclusiva de la ciudad</p>
             </div>
            <div class="bienvenida-imagen">
                <img src={% static "imagenes/señora.png" %} alt="Ropa Mujer">
                <img src={% static "imagenes/zapatos.avif" %} alt="Zapatos">
                <img src={% static "imagenes/principalhombre.png" %} alt="Ropa Hombre">
            </div>
            <hr>
        </section>
        
        <section class="video">
            <div class="video-interno">
                <h2>Te ofrecemos gran variedad de prendas</h2>
                <p>Nuestra marca busca ofrecer la mejor variedad de productos del mercado, incluyendo comodidad y frescura para ti.</p>
                <video src={% static "Videos/69986-533438262_small.mp4" %} autoplay muted loop></video>
            </div>
        </section>
        <hr>
        <section class="lo-mas-vendido">
            <div class="mas-vendidos">
                <h2>🔥 Lo más vendido 🔥</h2>
            </div>
             
                <div class="productos">
                {% for producto in productos %}
                    <div class="producto">
                        <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="">
                        <h3 class="">{{ producto.nombre }}</h3>
                        <p class="">${{ producto.precio }}</p>
                        <a href="{% url 'producto' producto.id %}" class="">Ver detalles</a>
                    </div>
                {% endfor %}
                </div>
            </div>
        </section>
        <section class="lo-mas-vendido">
            <div class="mas-vendidos">
                <h2>🎉Ofertas especiales🎉</h2>
                <div class="productos">
                    <div class="producto">
                        <img src={% static "imagenes/Buso negro.webp" %} alt="Buzo negro">
                        <p>Buzo negro</p>
                        <p>$50.00</p>
                    </div>
                    <div class="producto">
                        <img src={% static "imagenes/Blusa mujer.webp" %} alt="Ropa2">
                        <p>Camisa de vestir</p>
                        <p>$50.00</p>
                    </div>
                    <div class="producto">
                        <img src={% static "imagenes/Buso negro.webp" %} alt="Ropa3">
                        <p>Camisa de vestir</p>
                        <p>$50.00</p>
                    </div>
                    <div class="producto">
                        <img src={% static "imagenes/Blusa mujer.webp" %} alt="Ropa4">
                        <p>Camisa de vestir</p>
                        <p>$50.00</p>
                    </div>
                    <div class="producto">
                        <img src={% static "imagenes/Blusa mujer.webp" %} alt="Ropa4">
                        <p>Camisa de vestir</p>
                        <p>$50.00</p>
                    </div>
                    <div class="producto">
                        <img src={% static "imagenes/Blusa mujer.webp" %} alt="Ropa4">
                        <p>Camisa de vestir</p>
                        <p>$50.00</p>
                    </div>
                    <div class="producto">
                        <img src={% static "imagenes/Blusa mujer.webp" %} alt="Ropa4">
                        <p>Camisa de vestir</p>
                        <p>$50.00</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section class="izquierda">
            <ul>
                <li><a href="#">Acerca de nosotros</a></li>
                <li><a href="#">Contactanos</a></li>
                <li><a href="#">Servicio al cliente</a></li>
                <li><a href="#">Todos los derechos estan reservados</a></li>
            </ul>
        </section>
        <section class="derecha">
            <img src={% static "imagenes/Simbolo-transparente.png" %} alt="Logo de Glamoure">
        </section>
    </footer>
    <!-- modal carrito -->
    <div id="carritoModal" class="modal">
    <div class="modal-contenido">
        <span class="cerrar" onclick="cerrarModal()">&times;</span>
        <h2>Carrito de compras</h2>
        <div id="carritoContenido"></div>
    </div>
</div>

    <script src="{% static 'js/modal.js' %}"></script>

    </html>
</body>