{% extends 'index.html' %}

{% block content %}
<h1>Productos</h1>
<ul>
  {% for producto in productos %}
    <li style="margin-bottom:1.25rem;">
      <h3 style="display:inline-block; margin-right:0.5rem;">{{ producto.nombre }}</h3>
      {% if request.user.is_authenticated %}
        <form action="{% url 'toggle_favorito' producto.id %}" method="post" style="display:inline">
          {% csrf_token %}
          <button class="text-xl" type="submit">{% if producto in request.user.favoritos.all %}★{% else %}☆{% endif %}</button>
        </form>
      {% endif %}
      <p>${{ producto.precio }}</p>
      <p>{{ producto.descripcion}}</p>
      <a href="{% url 'agregar_al_carrito' producto.id %}">Agregar al carrito</a>
    </li>
  {% endfor %}
</ul>
<a href="{% url 'ver_carrito' %}">Ir al carrito</a>
{% endblock %}
